{% extends 'frontend_task/base.html' %}

{% block content %}

    <div class="container">
        <div class="p-5 my-4 bg-light ">
            <h1>Some text here</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
                Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
                cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
{% endblock %}