{% extends 'frontend_task/base.html' %}

{% block content %}
<div class="container content-center">
<div class="m-5" >

    <div data-bs-toggle="collapse" href="#multiCollapseExample1"  aria-expanded="false" aria-controls="multiCollapseExample1" style="background: #333333; color: #bbbbbb; max-width: 75%;">Rollup 01</div>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body" style="max-width: 75%">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
                Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
                cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>
        </div>

    <div  data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" style="background: #333333; color: #bbbbbb; max-width: 75%">Rollup 02</div>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body" style="max-width: 75%">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
                Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
                cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>
        </div>
</div>
</div>
{% endblock %}
